@charset "UTF-8";
/* Utilidades: variables */
/* Variables */
/* espaciado */
/* Tamaños de las fuentes */
/* Mixins */
/* Base: Reset */
*::after,
*::before,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: 'poppins', sans-serif; }

html {
  font-size: 62.5%; }

ul {
  list-style-type: none; }

a {
  text-decoration: none; }

img {
  width: 100%; }

/* Componentes: secciones generales de la web */
/*  header */
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem; }
  .header__logo {
    max-width: 120px; }

/* Main */
.portada {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr); }
  .portada__img {
    grid-column: 1 / 4;
    grid-row: 1 / 4; }

.titulo {
  padding: 2rem;
  margin: 2rem;
  font-size: 3em;
  font-weight: bold; }

/* Footer*/
.footer {
  background-color: #4471d1;
  background-size: cover; }
  .footer__flex {
    display: flex;
    justify-content: space-between; }
  .footer__eslogan {
    font-size: 1.5em;
    margin: 0.5rem; }
  .footer__img {
    display: flex;
    max-width: 120px;
    margin: 0.5rem; }
  .footer__legales {
    display: flex;
    justify-content: center;
    font-size: 1.5em;
    margin-top: 5rem; }

/* Views */
/* Section */
.section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: none;
  gap: 2.4rem;
  padding: 1rem;
  flex-wrap: wrap; }

.caja {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  flex: 1 1 clamp(200px, 30%, 300px); }
  .caja__img:hover {
    width: 485px; }
  .caja__info {
    display: flex;
    flex-direction: column;
    justify-content: none;
    align-items: none;
    padding: 2.4rem;
    padding-bottom: 2.4rem; }
  .caja__titulo {
    font-weight: bold;
    font-size: 2em; }
  .caja__texto {
    margin-top: 0.3rem;
    font-size: 1.5em; }

/* Noticias */
.section__noticias {
  display: flex;
  flex-direction: column; }
  .section__noticias .caja__titulo {
    font-weight: bold;
    font-size: 2em; }
  .section__noticias .caja__noticia img {
    padding-left: 20px;
    max-width: 800px; }

/*  Página Podcast */
.contenido__podcast {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  margin: 10px;
  padding: 10px;
  gap: 2rem; }

.podcast:nth-of-type(1) {
  grid-column: 1 / 3; }

.podcast:nth-of-type(2) {
  grid-column: 3 / 5;
  grid-row: 1 / 2; }

.podcast:nth-of-type(3) {
  grid-column: 1 / 3;
  grid-row: 2 / 3; }

.podcast:nth-of-type(4) {
  grid-column: 3 / 5;
  grid-row: 2 / 3; }

/*  Página  Sobre Nosotros*/
.texto__nosotros {
  padding: 0rem 3rem 3rem 3rem;
  margin: 0rem 3rem 3rem 3rem;
  font-size: 1.5em; }

/* Página de contacto */
.contenedor {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  margin: 10px;
  padding: 10px;
  gap: 2rem; }
  .contenedor .mapa {
    grid-column: 1 / 3;
    grid-row: 1 / 3;
    overflow: hidden;
    padding-bottom: 400px;
    /*Reduce este valor si el mapa fuera muy alto, por ejemplo 250px, puedes usar porcentajes, 50%*/
    position: relative;
    height: 0; }
  .contenedor .formulario {
    grid-column: 3 / 5;
    grid-row: 1 / 3; }
  .contenedor .form-label {
    font-size: 1.5em; }
  .contenedor .form-control {
    font-size: 1.2em; }
  .contenedor .form-check-label {
    font-size: 1.2em; }
  .contenedor .btn {
    background-color: #be9a34;
    text-transform: uppercase;
    font-size: 1.5em;
    border: none;
    margin-top: 10px;
    border-radius: 0%; }

/* Mediaqueries */
@media screen and (max-width: 991px) {
  .header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch; }
  .caja {
    padding: 2rem; }
  /* Pagina de contacto - TABLET */
  .contenedor {
    grid-template-rows: repeat(4, 1fr); }
    .contenedor .mapa {
      grid-column: 1 / 5;
      grid-row: 1 / 2; }
      .contenedor .mapa__image {
        max-width: 400px; }
    .contenedor .formulario {
      grid-column: 1 / 5;
      grid-row: 2 / 3; } }

@media screen and (max-width: 600px) {
  /* gloabales mobile */
  .header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch; }
  .menu {
    flex-direction: column;
    align-items: center; }
  .footer__legales {
    flex-direction: column;
    align-items: center; }
  .caja {
    padding-top: 2px;
    padding-bottom: 0px; }
  .caja__info {
    padding-bottom: 0px; }
  .caja__img:hover {
    display: none; }
  /* Página Podcast - MOBILE */
  .contenido__podcast {
    grid-template-rows: repeat(4, 1fr); }
    .contenido__podcast .podcast:nth-of-type(1) {
      grid-column: 1 / 5;
      grid-row: 1 / 2; }
    .contenido__podcast .podcast:nth-of-type(2) {
      grid-column: 1 / 5;
      grid-row: 2 / 3; }
    .contenido__podcast .podcast:nth-of-type(3) {
      grid-column: 1 / 5;
      grid-row: 3 / 4; }
    .contenido__podcast .podcast:nth-of-type(4) {
      grid-column: 1 / 5;
      grid-row: 4 / 5; }
  /* Pagina contacto - MOBILE*/
  .contenedor {
    grid-template-rows: repeat(2, 1fr); }
    .contenedor .mapa {
      grid-column: 1 / 5;
      grid-row: 1 / 2; }
    .contenedor .formulario {
      grid-column: 1 / 5;
      grid-row: 2 / 3; } }
