* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'poppins', sans-serif;
}

/*-----HEADER------*/

.header{
    position: sticky;
    top: 20px;
}

.header img {
    width: 150px;
    float: left;
    padding: 1rem;
}

.header__navbar ul {
    padding: 2rem;
    list-style-type: none;
    text-align: right;
    float: right;
    padding: 2rem;
  
}

.header__navbar li {
    display: inline;
}

.header__navbar a {
    text-decoration: none;
    text-transform: uppercase;
    padding: 1rem;
    font-size: 1rem;
    color: black;
}

main {
    display: block;
    padding: 200px;
    
}


/*-------FOOTER------*/

.footer {
    background-color: darkgrey;
    background-size: cover;
    margin-top: 50px;
    border: solid 2px black;
    
}

.footer__img{
    display: inline;
}

.footer p{
    display: inline;
}

