<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="estilos.css">
    <title>Podcast</title>
</head>
<body>
    <!-- HEADER -->
    <header class="header">
        <picture class="header__logo">
            <a href="./index.html"><img class="header__img" src="../assets/img/logo.png" alt="logo-reino-de-atlantis"></a>
         </picture>
            <!--Barra de navegación-->
         <nav class="header__navbar">
            <ul class="menu">
                 <li class="menu__item"><a class="menu__link" href="../index.html">Inicio</a></li>
                 <li class="menu__item"><a class="menu__link" href="../views/noticias.html">Noticias</a></li>
                 <li class="menu__item"><a class="menu__link" href="../views/podcast.html">Podcast</a></li>
                 <li class="menu__item"><a class="menu__link" href="../views/sobre_nosotros.html">Sobre Nosostros</a></li>
                 <li class="menu__item"><a class="menu__link" href="../views/contacto.html">Contacto</a></li>
            </ul>
         </nav>
     </header>
<!-- Final del HEADER -->
     <main class="portada">
        <picture class="portada__img">
        <img src="../assets/img/la_atlantida.jpg" alt="">
        </picture>
     </main>
    <!--Contenido-->
    
        <h1>Nuestros Podcasts</h1>
    <div class="contenido__podcast">
        <iframe width="100%" height="166" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/288703432&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe><div style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;"><a href="https://soundcloud.com/steezmonks" title="Steezmonks" target="_blank" style="color: #cccccc; text-decoration: none;"></a> · <a href="https://soundcloud.com/steezmonks/steezshow-003-monsieur-by-steezmonks-1" title="SteezShow #003 || MONSIEUR, by Steezmonks" target="_blank" style="color: #cccccc; text-decoration: none;"></a></div>
        <iframe width="100%" height="166" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/432704586&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe><div style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;"><a href="https://soundcloud.com/steezmonks" title="Steezmonks" target="_blank" style="color: #cccccc; text-decoration: none;"></a> · <a href="https://soundcloud.com/steezmonks/steezmonks-bloody-betty-original-mix-1" title="Steezmonks - Bloody Betty (Original Mix)" target="_blank" style="color: #cccccc; text-decoration: none;"></a></div>
        <iframe width="100%" height="166" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/457240236&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe><div style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;"><a href="https://soundcloud.com/steezmonks" title="Steezmonks" target="_blank" style="color: #cccccc; text-decoration: none;"></a> · <a href="https://soundcloud.com/steezmonks/steezmonks-caramelos-feat-candela-original-mix-1" title="Steezmonks - Caramelos feat Candela (Original Mix)" target="_blank" style="color: #cccccc; text-decoration: none;"></a></div>
        <iframe width="100%" height="166" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/442520490&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe><div style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;"><a href="https://soundcloud.com/steezmonks" title="Steezmonks" target="_blank" style="color: #cccccc; text-decoration: none;"></a> · <a href="https://soundcloud.com/steezmonks/steezmonks-feat-mr-pengg-girls-like-you-original-mix-1" title="Steezmonks feat. Mr Pengg - Girls Like You (Original Mix)" target="_blank" style="color: #cccccc; text-decoration: none;"></a></div>
    </div>
    <!--Pie de página-->
    <footer class="footer">
        <div class="footer__flex">
          <div class="footer__eslogan">
             <p>Eslogan</p>
         </div>
         <div class="footer__img">
             <a href="https://es-es.facebook.com/" target="_blank"><img width="30px" src="../assets/img/logo_fb.png" alt="FACEBOOK"></a>
             <a href="https://twitter.com/?lang=es" target="_blank"><img width="30px" src="../assets/img/logo_tw.png" alt="TWITTER"></a>
             <a href="https://www.instagram.com/" target="_blank"><img width="30px" src="../assets/img/logo_ig.png" alt="INSTAGRAM"></a>
             <a href="https://web.whatsapp.com/" target="_blank"><img width="30px" src="../assets/img/logo_whatsapp.png" alt="WHATSAPP"></a>
        </div>
         <div class="footer__legales">
             <p>Terminos y condiciones</p>
             <p>©Todos los derechos reservados.</p>
         </div>
     </footer>
</body>

</html>