<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../estilos.css">
    <title>Podcast</title>
</head>
<body>
    <header class="header">
        <div class="header__logo"><a href="./index.html"><img width="100px" src="../assets/img/logo.png" alt=""></a></div>
        <!--Barra de navegación-->
        <nav class="header__navbar">
            <ul>
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="noticias.html">Noticias</a></li>
                <li><a href="podcast.html">Podcast</a></li>
                <li><a href="sobre_nosotros.html">Sobre Nosostros</a></li>
                <li><a href="contacto.html">Contacto</a></li>
            </ul>
        </nav>
    </header>
    <!--Contenido-->
        <h1>Nuestros Podcasts</h1>
        <iframe width="100%" height="166" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/288703432&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe><div style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;"><a href="https://soundcloud.com/steezmonks" title="Steezmonks" target="_blank" style="color: #cccccc; text-decoration: none;">Steezmonks</a> · <a href="https://soundcloud.com/steezmonks/steezshow-003-monsieur-by-steezmonks-1" title="SteezShow #003 || MONSIEUR, by Steezmonks" target="_blank" style="color: #cccccc; text-decoration: none;">SteezShow #003 || MONSIEUR, by Steezmonks</a></div>

     <!--Pie de página-->
     <footer class="footer">
        <div class="footer_eslogan">
            <p>Eslogan</p>
        </div>
        <div class="footer__img">
            <a href="https://es-es.facebook.com/" target="_blank"><img width="30px" src="../assets/img/logo_fb.png" alt="FACEBOOK"></a>
            <a href="https://twitter.com/?lang=es" target="_blank"><img width="30px" src="../assets/img/logo_tw.png" alt="TWITTER"></a>
            <a href="https://www.instagram.com/" target="_blank"><img width="30px" src="../assets/img/logo_ig.png" alt="INSTAGRAM"></a>
            <a href="https://web.whatsapp.com/" target="_blank"><img width="30px" src="../assets/img/logo_whatsapp.png" alt="WHATSAPP"></a>
        </div>
        <div class="footer__legales">
            <p>Terminos y condiciones</p>
            <p>©Todos los derechos reservados.</p>
        </div>
    </footer>
</body>

</html>