/* Footer*/
.footer {
    background-color: #4471d1;
    background-size: cover;
   
      &__flex {
        display: flex;
        justify-content: space-between; }
  
      &__eslogan {
        font-size: $text-font;
        margin: 0.5rem;
      }
  
      &__img {
        display: flex;
        max-width: 120px;
        margin: 0.5rem;
      }
  
      &__legales {
        display: flex;
        justify-content: center;
        font-size: 1.5em;
        margin-top: 5rem; }
  }