/*  header */
.header {
    @include flex (row, space-between, center);
    padding: $spacing-xsmall; 
  
      &__logo {
        max-width: 120px; }
      }
  
  .menu {
          display: flex;
          gap: $spacing-small;
          text-transform: uppercase;
  
            &__link {
              font-size: 1.5em; }
  }
  