@media screen and (max-width: 830px) {
  .caja {
    flex-direction: column; } }

@media screen and (max-width: 700px) {
  .caja {
    padding: $spacing-small; } 

/* Pagina de contacto - TABLET */

.contenedor {
  grid-template-rows: repeat(4, 1fr); }

.mapa {
  grid-column: 1 / 5;
  grid-row: 1 / 2; 

    &__image {
      max-width: 400px; }
}

.formulario {
  grid-column: 1 / 5;
  grid-row: 2 / 3; }
}

@media screen and (max-width: 600px) {
  /* gloabales mobile */
.header {
    @include flex (column,space-between,center);
   }

.menu {
    flex-direction: column;
    align-items: center; }
.footer__legales {
    flex-direction: column;
    align-items: center; }
.caja__img:hover {
    display: none; }

/* Página Podcast - MOBILE */

.contenido__podcast {
    grid-template-rows: repeat(4, 1fr); }
.podcast:nth-of-type(1) {
    grid-column: 1 / 5;
    grid-row: 1 / 2; }
.podcast:nth-of-type(2) {
    grid-column: 1 / 5;
    grid-row: 2 / 3; }
.podcast:nth-of-type(3) {
    grid-column: 1 / 5;
    grid-row: 3 / 4; }
.podcast:nth-of-type(4) {
    grid-column: 1 / 5;
    grid-row: 4 / 5; } 

/* Pagina contacto - MOBILE*/
.contenedor {
    grid-template-rows: repeat(4, 1fr); }

.mapa {
    grid-column: 1 / 5;
    grid-row: 1 / 2; }
.formulario {
    grid-column: 1 / 5;
    grid-row: 2 / 3; }
}