/* Variables */
/* espaciado */
$spacing-large: 6rem;
$spacing-medium: 2.4rem;
$spacing-small: 2rem;
$spacing-xsmall: 1rem;

/* Tamaños de las fuentes */
$title-font: 3em;
$headline-font: 2em;
$text-font: 1.5em;
$legal-font: 1.2em;